junta/_chat.txt
junta/*.jpg
junta/*.mp4
junta/*.pdf
junta/*.vcf
junta/*.webp
junta/*.mp3
junta/*.wav
junta/*.zip
ai/nbs/.ipynb_checkpoints/*
.DS_Store
community_dev/nbs/__pycache__/*
community_dev/src/__pycache__/*
node_modules
resources/_gen/*/*
.hugo_build.lock
community_dev/nbs/raw_latest.csv
community_dev/nbs/users_to_remove.csv
